<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @section.course.number %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @section.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester.semester %>
</p>

<p>
  <strong>Students:</strong>
</p>
<ul>
  <% @section.students.each do |student| %>
  <%= student.name %>
  <% end %>
</ul>

<%= link_to 'Modify', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
